{{extend 'layout.html'}}

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Task Name</th>
      <th>Due Date</th>
      <th>Is Closed</th>
      <th>Attachment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{for task in tasks:}}
      <tr>
        <td>{{=task.id}}</td>
        <td>{{=task.name}}</td>
        <td>{{=task.due}}</td>
        <td id="task-status-{{=task.id}}">{{=task.status}}</td>
        <td id="attachment-{{=task.id}}">
          {{if task.attachment:}}
          {{=A(db.task.attachment.retrieve(task.attachment)[0], _href=URL('download', args=task.attachment))}}
          {{else:}}
          No Attachment
          {{pass}}
        </td>
        <td id="close-task-{{=task.id}}"><a href="javascript:void(0);" onclick="closeTask('{{=URL('toggleTask', args=task.id)}}', {{=task.id}});">toggle</a></td>
        <td>{{=A('update', _href=URL('createOrUpdateTask', args=task.id))}}</td>
        <td>
          <span class="btn btn-success fileinput-button">
              <i class="glyphicon glyphicon-plus"></i>
              <span>Attach File</span>
              <input class="fileupload" type="file" name="attachment" data-url="{{=URL('taskAttachment', args=task.id)}}">
          </span>
        </td>
      </tr>
    {{pass}}
</tbody>
</table>

<script type="text/javascript">
  function closeTask(url, id){
    var promise = $.ajax(url);
    $.when(promise).then(function(data){
      // $("a","#close-task-"+id).html('to');
      $("#task-status-"+id).html(data);
    });
  }
</script>

<script>
$(function () {
    $('.fileupload').fileupload({
        done: function (e, data) {
            $('.flash').html('File Uploaded <span id="closeflash">×</span>').show();
            var base_download_url = "{{=URL('download')}}";
            $('#attachment-'+data.result.files[0].task_id).html($('<a href='+base_download_url+'/'+data.result.files[0].url+' ></a>').text(data.result.files[0].name));
        },
        fail: function(e, data) {
          console.log('Fail!');
        }
    });
});
</script>
